/* General
**************/

body {
  font-family: Arial, sans-serif;
  background: #ededed;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

header > img {
  width: 100px;
}

h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 20px;
}

ol {
  list-style-type: upper-roman;
}

li a {
  text-decoration: none;
  color: inherit;
}

input {
  display: block;
  margin: 10px 0;
}

input[type="radio"],
input[type="submit"],
select {
  cursor: pointer;
  outline: none;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

select {
  margin: 10px 0;
}

/* Header
*****************/

header {
  margin-bottom: 40px;
}

header img,
nav,
nav li {
  display: inline-block;
}

nav,
nav li {
  padding: 10px;
  vertical-align: top;
  float: right;
}

header img {
  width: 50px;
  float: left;
}

/* Main Content
*****************/

#content {
  display: inline-block;
}

aside {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.ingredients-list li,
.directions li {
  margin: 15px 0;
}

#directions,
#description {
  margin-bottom: 40px;
}

#directions li:nth-of-type(2n) {
  background-color: whitesmoke;
}

/* Reviews
***************/

h2 + .user_review {
    border-top: 1px solid black;
}

fieldset {
  width: 100px;
}
fieldset input {
  display: inline;
}
fieldset label {
  display: block;
}

/* Footer
**************/

footer {
  margin-top: 40px;
}
