body {
  font-family: Arial, sans-serif;
  background: #ededed;
  margin: 0 20px;
}

header > img {
  width: 100px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ul, ol {
  margin-left: 20px;
}

.ingredients-list {
  list-style: square-inside;
}

ol {
  list-style-type: upper-roman;
}

li a {
  text-decoration: none;
  color: inherit;
}

input[type="radio"],
input[type="submit"],
select {
  cursor: pointer;
  outline: none;
}

input:last-child {
  background-color: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

#directions li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
    border-top: 1px solid black;
}
