<h2>Log In</h2>

<form action="<%= login_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="email">Email</label><br>
  <input id="email" type="text" name="user[email]">

  <br>
  <br>

  <label for="password">Password</label><br>
  <input type="password" name="user[password]">

  <br>
  <br>

  <input type="submit">
</form>
