iframe {
  width: 100%;
  margin-bottom: 15px;
}

.col ul {
  list-style-type: disc;
  margin-left: 16px;
}

.col li {
  margin-bottom: 15px;
}

#office {
  height: 100px;
  background-image: url(/assets/new_office.jpg);
  background-position: center;
}

.col a {
  color: $blue;
}
.col a:hover {
  text-decoration: underline;
}
