<nav class="masthead">
  <ul class="language-nav">
    <li><a>CSS</a></li>
    <li><a>HTML</a></li>
    <li><a>Javascript</a></li>
    <li><a>Ruby</a></li>
  </ul>

  <img src="/assets/AA_Times_Logo.png" class="logo">

  <ul class="masthead-links">
    <li><a>Tuesday, October 18, 2016</a></li>
    <li><a><i class="fa fa-newspaper-o" aria-hidden="true"></i>Today’s Paper</a></li>
    <li><a><i class="fa fa-video-camera" aria-hidden="true"></i>Video</a></li>
    <li><a>77°F</a></li>
    <li><a>AAO <span>+100%</span></a></li>
  </ul>
</nav>
