<form action="<%= bands_url %>" method="post">
  <%= auth_token %>

  <label for="name">Name</label><br>
  <input id="name" type="text" name="band[name]">

  <br>
  <br>

  <input type="submit" value="create">
</form>
